.nav-btn{
    -fx-background-color: #874ccc;
    -fx-border-color: #874ccc;
    -fx-border-width: 2px;
    -fx-cursor: hand;
    -fx-text-fill: #e1e9eb;
}
.nav-btn:hover{
    -fx-background-color: #e1e9eb;
    -fx-text-fill: #050109;
}
