.nav-btn{
    -fx-background-color: #114232;
    -fx-border-color: #114232;
    -fx-border-width: 2px;
    -fx-cursor: hand;
    -fx-text-fill: #fff;
}
.nav-btn:hover{
    -fx-background-color: #e1e9eb;
    -fx-text-fill: #114232;
}
