.nav-btn{
    -fx-background-color: #020202;
    -fx-border-color: #c7c8cc;
    -fx-border-width: 2px;
    -fx-cursor: hand;
    -fx-text-fill: #fff;
}
.nav-btn:hover{
    -fx-background-color: #c7c8cc;
    -fx-text-fill: #c7c8cc;
}