.nav-btn{
    -fx-background-color: #f8f4f4;
    -fx-border-color: #eaf0ec;
    -fx-border-width: 2px;
    -fx-cursor: hand;
    -fx-text-fill: #fff;
}
.nav-btn:hover{
    -fx-background-color: #f1f7f3;
    -fx-text-fill: #edf2ef;
}