.nav-btn{
    -fx-background-color: #020202;
    -fx-border-color: #040e08;
    -fx-border-width: 2px;
    -fx-cursor: hand;
    -fx-text-fill: #fff;
}
.nav-btn:hover{
    -fx-background-color: #020704;
    -fx-text-fill: #020302;
}