.nav-btn{
    -fx-background-color: #874ccc;
    -fx-border-color: #874ccc;
    -fx-border-width: 2px;
    -fx-cursor: hand;
    -fx-text-fill: #f1ecec;
}
.nav-btn:hover{
    -fx-background-color: #e9e6ec;
    -fx-text-fill: #080809;
}