.nav-btn{
    -fx-background-color: #eeeded;
    -fx-border-color: #dfeae7;
    -fx-border-width: 1px;
    -fx-cursor: hand;
    -fx-text-fill: #0c0808;
}
.nav-btn:hover{
    -fx-background-color: #eeeded;
    -fx-text-fill: #114232;
}